/* Base Reset */
:root {
    --font-family: 'IBM Plex Mono', monospace;
    --color-black: #000;
    --color-white: #fff;
    --color-turquoise: #40e0d0;
    --color-crimson: #dc143c;
    --color-light-crimson: #ff4d6d;
    --color-gray: #ddd;
    --color-subtle-gray: #aaa;
}

html {
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

body {
    margin: 0;
    color: #EAEAEA;
    background: #101010;
    line-height: 1.7;
    overflow: visible;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: #DC143C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* General Container */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0;
}

/* ========================================== 
   HEADER
   =========================================== */
.header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1.5) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
    transition: background 0.3s ease;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 150px;
    margin-right: 1rem;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.site-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #DC143C;
}

/* =============================================
   Header Navigation============================ */
.nav {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav a {
    color: var(--color-crimson);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: color var(--transition-speed), background-color var(--transition-speed);
}

.nav a:hover {
    color: var(--color-turquoise);
    background-color: rgba(0, 128, 128, 0.2);
}

.nav a.active {
    color: var(--color-turquoise);
    font-weight: 700;
}


/* =====================================================
   Hero Section
   ===================================================== */
.hero {
    position: relative;
    background: url('images/TP_mascot_alien_land2.png') no-repeat center center/cover;
    padding: 10rem 2rem 6rem;
    text-align: center;
    min-height: 100vh;
    z-index: 1;
}

.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #DC143C;
}

.hero p {
    font-size: 1.15rem;
    max-width: 600px;
    font-weight: bold;
    margin: 0 auto;
    color: #FFFFFF;
}

.hero:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #101010 100%);
    z-index: 2;
}

/* ========================================================
   About Section
   ======================================================== */
.about {
    position: relative;
    z-index: 3;
    background: linear-gradient(to bottom,
            rgba(16, 16, 16, 0) 0%,
            rgba(16, 16, 16, 0.8) 65%,
            #1F1F1F 100%
        );
    padding: 5rem 2rem;
    margin-top: -220px;
    text-align: center;
}

.about h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #DC143C;
}

.about p {
    font-size: 1.1rem;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

/* ==================================================
   PROJECT SECTION
   =================================================== */
.project-highlight {
    background: #1F1F1F;
    position: relative;
    padding: 1rem 1rem;
    text-align: center;
}

.project-highlight h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #DC143C;
    text-align: center;
}

.project-highlight p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.cta-button {
    margin: 2rem auto;
    text-align: center;
    background: linear-gradient(135deg, #dc143c, #ff4d6d);
    color: var(--color-turquoise);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

.cta-button:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #ff4d6d, #dc143c);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Responsive Button */
@media (max-width: 768px) { /* //TODO:move to main media query section*/
    .cta-button {
        font-size: 1.2rem;
        padding: 0.8rem 1.5rem;
    }
}


/*==========================================================
  Footer
  ==========================================================*/
footer {
    padding: 0rem 0;
    background: var(--color-footer-gray);
    text-align: center;
    color: var(--color-crimson);
    font-size: 1.4rem;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 0rem 0;
    padding: 0;
    list-style: none;
}

.footer-social a {
    color: var(--color-crimson);
    font-size: 3rem;
    transition: color var(--transition-speed);
}

.footer-social a:hover {
    color: var(--color-turquoise);
    transform: scale(1.2);
}

footer p {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--color-footer-gray);
}

/* ======================================================
    Back to Top Button
    ===================================================== */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
}

.back-to-top a {
    color: var(--color-crimson);
    font-size: 2rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.back-to-top a:hover {
    color: var(--color-turquoise);
    transform: translateY(-5px);
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

body:not(:root:root) .header.scrolled {
    background: rgba(0, 0, 0, 0.9);
}


/* ====================================================
   Hamburger Menu Button
   ==================================================== */
.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1001;/*Is there a better way to do this?*/
}

.nav-toggle .hamburger {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.nav-toggle .hamburger::before,
.nav-toggle .hamburger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    left: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.nav-toggle .hamburger::before {
    top: -10px;
}

.nav-toggle .hamburger::after {
    bottom: -10px;
}

.nav-toggle.active .hamburger {
    background-color: transparent;
}

.nav-toggle.active .hamburger::before {
    transform: rotate(45deg) translate(5px, 5px);
}

.nav-toggle.active .hamburger::after {
    transform: rotate(-45deg) translate(5px, -5px);
}



/*===================================================
  MEDIA QUERY FORMATTING AND STYLING
  ===================================================*/
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 1rem;
    }

    .nav-toggle {
        display: block;
        align-self: flex-end;
        margin-bottom: 0px;
        z-index: 1001;
    }

    .logo-container {
        align-items: center;
        height: 100px;
    }

    .nav {
        display: none;
        /* Hidden by default */
        flex-direction: column;
        position: absolute;
        transform: none;
        top: 20%;
        left: auto;
        right: 57px; /*this is pain*/
        width: 200px;
        /* Set a narrower width */
        background: rgba(0, 0, 0, 0.9);
        z-index: 1000;
        padding: 1rem;
        border-radius: 8px;
    }

    .nav.open {
        display: flex;
    }

    .nav ul {
        flex-direction: column;
        gap: 0.5em;
    }

    .nav a {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .hero {
        padding: 11rem 1rem;
        text-align: center;
        min-height: 80vh;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .about {
        padding: 3rem 1rem;
        margin-top: -150px;
    }

    .about h3 {
        font-size: 1.4rem;
    }

    .about p {
        font-size: 1rem;
    }

    .project-highlight {
        padding: 2rem 1rem;
    }

    .footer-social a {
        font-size: 2rem;
    }

    .back-to-top {
        width: 40px;
        height: 40px;
    }
}